@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "LoadRoles";
}
<h2>Load Roles</h2>

<p>@Html.ActionLink("Add New ", "Create")</p>
<table class="table">
    <thead>
        <tr>
            <!-- we add here sorting in index for list of   ------   -->
            <!-- we use here href="  here we write the input that will display in Url to be input for path of action "-->
            <th><a href="@Url.Action("index","LoadRoles", new { orderBy=ViewBag.OrderNameBy })">@Html.DisplayNameFor(model => model.Name)</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>@Html.ActionLink("Back to List", "Index", "Home")</div>
