@model SalehIdentityWebShop.Models.Cart
@{
    ViewBag.Title = "Details Cart";
    double total = 0;<!--variable for total-->
}
<h2>Details of Cart</h2>
<div>
    <h4>Cart</h4>
    <hr />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Add Product", "ProductToCart", "Carts", new { cId = Model.Id }) |                   <!--I need here product 'Id' to display it in view to add to it an cart from list-->
    @Html.ActionLink("Back to List", "Index")
</p>
<!--we add here sub list of Products -->
<h2> Here is sublist of products </h2>
@if (Model.CartItems.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CartItems[0].Products.Name)</th>            <!--fitch title of column from table-->
                <th>@Html.DisplayNameFor(model => model.CartItems[0].Products.Price)</th>
                <th>@Html.DisplayNameFor(model => model.CartItems[0].Products.Description)</th>
                <th>@Html.DisplayNameFor(model => model.CartItems[0].Amount)</th>                   <!--we can use to avoid repiting items in list-->
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Products.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Products.Price)</td>
                    <td>@Html.DisplayFor(modelItem => item.Products.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>                                 <!--from CartItem-->
                    <td>
                    <td>
                        @Html.ActionLink("+", "ProductToCart", new { pId = item.Products.Id, op = "plus" }, new { @class = "btn btn-default sx-3" })
                        @Html.ActionLink("-", "ProductToCart", new { pId = item.Products.Id, op = "minus" }, new { @class = "btn btn-default sx-3" })
                        @*@Html.ActionLink("Details", "Details" , new { id = item.Products.Id }, new { @class = "btn btn-info" }) |*@
                        @*@Html.ActionLink("Delete", "DeleteProductFromCart", new { pId = item.Products.Id, cId = Model.Id }, new { @class = "btn btn-danger" })*@
                    </td>
                </tr>
                total = total + (item.Products.Price * item.Amount);
            }
        </tbody>
    </table>
    <h3>Total price: @total</h3>

    <h3>@Html.ActionLink("Place Order", "PlaceOrder", "Orders")</h3>
}
else
{<p>No products in your Cart</p>}

